.clients {
    padding-top: 94px;
    padding-bottom: 94px;
}

.clients-list {
    display: flex;
}

.clients-item {
    width: 170px;
    height: 92px;

    &:not(:last-child) {
    margin-right: 30px;
    }
}

.clients-link {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid var(--icon-color);
    border-radius: 4px;
    color: var(--icon-color);
    transition: color var(--transition),
    border-color var(--transition);

    &:hover,
    &:focus {
    border-color: var(--accent-color);
    color: var(--accent-color);
    }

}