.feature {
    padding-top: 60px;
    padding-bottom: 30px;

    // @media screen and (max-width: 768px) {
    //     padding-top: 60px;
    //     padding-bottom: 30px;
    // }

    @media screen and (min-width: 1200px) {
        padding-top: 94px;
        padding-bottom: 94px;
    }
}

.feature-list {
    display: flex;
    // flex-direction: column;
}

.feature-item {
    width: 270px;

    &:not(:last-child){
    margin-right: 30px;
    }
}

.feature-text {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--second-header-color);
}