.feature {
    padding-top: 94px;
    padding-bottom: 94px;
}

.feature-list {
    display: flex;
}

.feature-item {
    width: 270px;
}

.feature-text {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--second-header-color);
}