.footer {
    background-color: var(--background-origin-color);
    padding-top: 60px;
    padding-bottom: 60px;
}

.footer-container {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
}

.footer-nav

/* .footer-nav {
    margin-right: 70px;
} */

 /* --------------- footer address ---------------  */

.footer-address {
    font-style: normal;
}

.footer-address-menu {
    display: inline-block;
}

.footer-address-connect{
    &:not(:last-child){
    margin-bottom:9px
    }
}

.footer-address-link {
    display: block;
    font-style: normal;
    font-weight: normal;
    font-size: 14px; 
    line-height: 1.7;
    letter-spacing: 0.03em;
    color: var(--title-color);
    transition: color var(--transition); 

    &:hover,
    &:focus {
    color: var(--accent-color);        
    }
}

.footer-address-e-mail, 
.footer-address-tel {
    color: var(--footer-contacts-color);
}