.header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    border-bottom: 1px solid var(--header-border-color);
    padding-top: 16px;
    padding-bottom: 16px;
    
    @media screen and (min-width: 768px) {
        padding-top: 26px;
        padding-bottom: 26px;
    }

    @media screen and (min-width: 1200px) {
        padding-top: 24px;
        padding-bottom: 25px;
    }
}

.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.burger-btn {
    background-color: transparent;
    cursor: pointer;
    padding: 0;
    border: none;
    line-height: 0;

    @media screen and (min-width: 767px){
        display: none;
    }
}

.burger-btn:hover,
.burger-btn:focus {
    fill: var(--accent-color);
}

.burger-btn-icon {
    width: 40px;
    height: 40px;
}

// .mobile-menu {
//     position: fixed;
//     z-index: 100;
//     top: 0;
//     left: 0;
//     width: 100vm;
//     height: 100vh;
//     padding: 10px 15px;
//     background-color: wheat;
// }

// .mobile-close-btn {
//     background-color: transparent;
//     cursor: pointer;
//     padding: 0;
//     border: none;
//     line-height: 0;
// }

// .close-btn-icon {
//     position: absolute;
//     top: 10px;
//     right: 15px;
//     width: 40px;
//     height: 40px;
// }



