
.hero {
    padding-top: 118px;
    padding-bottom: 118px;
    margin-left: auto;
    margin-right: auto;
    background-color: var(--background-origin-color);
    background-image: linear-gradient(var(--linear-gradient-color),
    var(--linear-gradient-color)),
// 1x screens, default value, 480x796 image
    url(../images/hero/hero-mobile.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    max-width: 480px;
    height: auto;

// 2x screens, retina, 480x796 image
@media screen and (min-device-pixel-ratio: 2),
    screen and (min-resolution: 192dpi),
    screen and (min-resolution: 2dppx) {
    background-image: url(../images/hero/hero-mobile@2x.jpg);
}

// 768px

@media screen and (min-width: 768px) {
    background-image: url(../images/hero/hero-tablet.jpg);
    min-width: 768px;


// 2x screens, retina, 768x1024 image
@media screen and (min-device-pixel-ratio: 2),
    screen and (min-resolution: 192dpi),
    screen and (min-resolution: 2dppx) {
    background-image: url(../images/hero/hero-tablet@2x.jpg);
}
} 

// 1200px

@media screen and (min-width: 1200px) {
    padding-top: 200px;
    padding-bottom: 200px;
    background-image: url(../images/hero/img-hero.jpg);
    min-width: 1200px;
}

// 2x screens, retina, 1200x1880 image
@media screen and (min-device-pixel-ratio: 2),
    screen and (min-resolution: 192dpi),
    screen and (min-resolution: 2dppx) {
    background-image: url(../images/hero/img-hero@2x.jpg);
}
}

.hero-container {
    display: column;
}