.hero {
    padding-top: 200px;
    padding-bottom: 200px;
    background-color: var(--background-origin-color);
    background-image: linear-gradient(var(--linear-gradient-color),
    var(--linear-gradient-color)),
    url(../images/hero/img-hero.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    max-width: 1600px;
    margin: 0 auto;
}

.hero-container {
    display: column;
}
