        .portfolio {
            padding-top: 94px;
            padding-bottom: 94px;
        }

        .btn-list {
            display: flex;
            padding-bottom: 50px;
            justify-content: center;
        }  
    
        .btn-link:not(:last-child) {
            margin-right: 8px;
        }
    
    