.projects-list {
    display: flex;
    flex-wrap: wrap;
    margin-top: -30px;
    margin-left: -30px;
}

.projects-item {
    flex-basis: calc(100% / 3 - 30px);
    margin-top: 30px;
    margin-left: 30px;
}

.projects-item-wrap {
    position: relative;
    overflow: hidden;
}

.projects-link {
    display: block;
    cursor: pointer;
    position: relative;
    transition: background-color var(--transition);  

    &:hover .projects-description,
    &:focus .projects-description {
    transform: translateY(0);
    }

    &:hover,
    &:focus {
    box-shadow: 0px 4px 4px var(--projects-shadow-color);
    transform: translate(0);
    }
 }

.projects-description {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    color: var(--title-color);
    line-height: 1.5;
    background-color: var(--projects-description-color);
    padding: 63px 24px;
    transform: translateY(100%);
    transition: transform var(--transition);
 }

 .projects-text {
    font-weight: normal;
    letter-spacing: 0.03em;
    color: var(--second-header-color);
}