.team {
    padding-top: 94px;
    padding-bottom: 94px;
    background-color:var(--background-team-color);
}

.team-container {
    padding-top: 30px;
    padding-bottom: 30px;
}

.team-list {
    font-size: 16px;
    line-height: 1.19x;
    text-align: center;
    letter-spacing: 0.03em;
    display: flex;
}

.team-item {
    background-color: var(--title-color);
    box-shadow: var(--team-box-shadow-color);

    &:not(:last-child) {
    margin-right: 30px;
    }
}

.team-item-text {
    font-weight: normal;
    color: var(--second-header-color);
    margin-bottom: 16px;
}