.typography {
    top: 0;
    left: 0;
    width: 100%;
    padding-bottom: 94px;

    @media screen and (max-width: 767px) {
    display: none;
    }

}

.typography-list {
    display: flex;
    flex-direction: column;
    display: none;
    

    @media screen and (min-width: 768px) {
        flex-wrap: wrap;
    }

    @media screen and (min-width: 1200px) {
        justify-content: space-between;
        // padding-top: 24px;
        padding-bottom: 25px;
    }
}

.typography-item {
    width: 370px;
    
    &:not(:last-child){
    margin-right: 30px;
    }
}

.typography-item-thumb {
    display: flex;
    position: relative;
    background-color: var(--linear-gradient-color);
}

.typography-thumb-about {
    width: 100%;
    text-align: center;
    max-width: 100%;
    height: 70px;
    padding-top: 27px;
    padding-bottom: 27px;
    position: absolute;
    background-color: var(--typography-thumb-color);
    bottom: 0;
}

.typography-item-about {
    font-weight: bold;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--title-color);
}