.footer-form-container {
  @media screen and (min-width: 1200px) {
    display: flex;
  }
}

.footer-form {
  padding-right: 0px;
  margin-right: 0px;
}

.footer-form-wrapper {
  flex-wrap: wrap;

  @media screen and (min-width: 768px) {
    display: flex;

    // flex-direction: column;
    // justify-content: center;
    // align-items: center;
  }
  @media screen and (min-width: 1200px) {
    align-items: center;
  }
}

.footer-label {
  width: 100%;
  margin-bottom: 20px;

  @media screen and (min-width: 1200px) {
    width: 358px;
    margin-right: 12px;
    margin-bottom: 20px;
  }
}

.footer-form-input {
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  height: 50px;
  width: 100%;
  align-items: center;
  padding-left: 16px;
  color: var(--title-color);
  border: 1px solid var(--footer-form-color);
  filter: drop-shadow 0px 4px 4px var(--footer-form-filter-color);
  border-radius: 4px;
  background-color: var(--background-origin-color);
  transition: border var(--transition);
  margin-top: 20px;

  &:focus {
    outline: none;
    border-color: var(--accent-color);

    @media screen and (min-width: 768px) {
      width: 450px;
    }

    @media screen and (min-width: 1200px) {
      // width: 358px;
      // margin-bottom: 0px;
    }
  }
}
