    /* .footer-social-container {
        margin-left: 0;
        margin-right: auto;
    } */

    .footer-social-container

    .footer-social-title {
        font-weight: bold;
        font-size: 14px;
        line-height: 1.14;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: var(--title-color);
        margin-bottom: 20px;
        display: block;
    }

    .footer-social-nav {
        display: flex;
    }

    .footer-social-item


    .footer-social-lik


    .footer-social-link-dark {
        background-color: var(--social-link-dark-color);
    }

    .footer-social-icon-white {
        fill: var(--title-color);
    }