.feature-icon-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 120px;
    background-color: var(--background-team-color);
    border-radius: 4px;
    margin-bottom: 30px;
}

.feature-icon

.social-icon {
    fill: var(--icon-color);
    transition: fill var(--transition);
}

.social-icon-white {
    fill: var(--title-color);
}

.clients-icon {
    fill: currentColor;
}

.footer-icon-send {
    margin-left: 10px;
}

.modal-close-icon {
    fill: currentColor;
}