        .social-icon {
            fill: var(--icon-color);
            transition: fill var(--transition);
        }

         .clients-icon {
            fill: currentColor;
        }
        
        .social-icon-white {
            fill: var(--title-color);
        }

        .footer-icon-send {
            margin-left: 10px;
        }
    
    