.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: var(--backdrop-color);
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
    transition: opacity var(--transition),
    visibility var(--transition);
}

.backdrop.is-hidden {
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
}

.backdrop .is-hidden .modal {
    transform: rotate(180deg);
    transition: transform var(--transition);
}
