.modal {
    position: absolute;
    width: 528px;
    background-color: var(--title-color);
    box-shadow: var(--modal-shadow-color);
    border-radius: 4px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    align-items: center;
    padding: 40px;
}

    /* -------------- modal form --------------- */

.modal-form {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%; 
}

.modal-form-head {
    font-size: 20px;
    line-height: 1.15;
    letter-spacing: 0.03em;
    color: var(--header-color);
    font-weight: 700;
    text-align: center;
    margin-bottom: 12px;
}

.modal-form-field {
    font-size: 12px;
    line-height: 1.16;
    margin-top: 10px;
    color: var(--second-header-color);
}

.modal-form-wrapper {
    position: relative;
    display: block;
    margin-top: 6px;
}

.modal-form-input {
    width: 100%;
    height: 40px;
    padding-left: 37px;
    border: 1px solid var(--modal-border-color); 
    border-radius: 4px;
    color: var(--header-color);
    transition: border-color var(--transition);

    &:focus {
    outline: none;
    border-color: var(--accent-color);
    }
}

.modal-form-icon {
    position: absolute;
    top: 50%;
    left: 0;
    padding: 12px;
    transform: translateY(-50%);
    display: block;
    width: 18px;
    transition: animation var(--transition);
    line-height: 0;
}

.modal-form-input:focus + .modal-form-icon {
    color: var(--accent-color);
    fill: var(--accent-color);
}

.modal-form-message {
    width: 100%;
    height: 120px;
    margin-top: 4px;
    padding: 12px 16px ;
    margin-bottom: 20px;
    border-radius: 4px;
    border: 1px solid var(--modal-border-color); 
    transition: border-color var(--transition);
    resize: none;

    &::placeholder {
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.01em;
    color: var(--modal-form-message-color);
    }

    &:focus {
    outline: none;
    border-color: var(--accent-color);
    }
}

.checkbox {
    -webkid-appearance: none;
    -moz-appearance: none;
    appearance: none;
    position: absolute;
}

.modal-form-checkbox-label {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    line-height: 1.7px;
    margin-bottom: 30px;
    color: var(--second-header-color);

    &::before {
    display: block;
    content: '';
    width: 16px;
    height: 15px;
    margin-right: 6px;
    border: 2px solid var(--header-color);
    border-radius: 2px;
    cursor: pointer;
    }
}

.modal-form-checkbox:checked + 
.modal-form-checkbox-label::before {
    border-color: var(--accent-color);
    background-color: var(--accent-color);
    background-image: url(../images/sprite-min.svg/icon-check.svg);
    background-size: cover;
    background-position: center;
    /* background-size: contain; */
    /* background-origin: border-box; */
    background-repeat: no-repeat;
}
    
.modal-form-checkbox:focus + .modal-form-checkbox-label::before {
    outline: 2px solid var(--accent-color)
}


.modal-accept-policy {
    color: var(--accent-color);
    position: relative;

    &::after {
    content: "";
    width: 100%;
    height: 1px;
    bottom: -6px;
    left: 0;
    border-radius: 2px;
    display: block;
    background-color: var(--accent-color);
    position: absolute;
    }
}
