
        .modal-btn-close {
            position: absolute;
            border: 1px solid var(--modal-btn-color);
            top: 10px;
            right: 10px;
            width: 30px;
            height: 30px;
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: transparent;
            transition: transform-color var(--transition);
        }
    
        .modal-btn-close:hover,
        .modal-btn-close:focus {
            color: var(--accent-color);
        }
    
        .modal-close-icon {
            fill: currentColor;
        }