.footer-social-nav {
  // justify-content: center;
  // align-items: center;
  margin-bottom: 60px;

  @media screen and (min-width: 768px) {
    // margin-bottom: 102px;
  }

  @media screen and (min-width: 1200px) {
  }
}

.social-nav {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.social-list {
  display: flex;
  justify-content: center;
}

.social-item {
  width: 44px;
  height: 44px;
  margin-right: 10px;

  &:last-child {
    margin-right: 0;
  }
}

.social-icon {
  fill: var(--icon-color);
  transition: fill var(--transition);
}

.social-link {
  width: 100%;
  height: 100%;
  background-color: var(--title-color);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color var(--transition);

  &:hover,
  &:focus {
    background-color: var(--accent-color);
  }

  &:hover .social-icon,
  &:focus .social-icon {
    fill: var(--title-color);
  }
}

.social-link-dark {
  background-color: var(--social-link-dark-color);
}
