
        .team-item {
            background-color: var(--title-color);
            box-shadow: var(--team-box-shadow-color);
        }
            
        .team-item-text {
            font-weight: normal;
            color: var(--second-header-color);
            margin-bottom: 16px;
        }