.hero-title {
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--title-color);
    width: 696px;
    margin: 0 auto;
    margin-bottom: 30px;
}

.feature-title {
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--header-color);
    margin-bottom: 10px;
}

.typography-title,
.team-title, 
.clients-title {
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--header-color);
    margin-bottom: 50px;
}

.team-item-title {
    margin-bottom: 10px;
    font-weight: 500;
    color: var(--header-color);
}

.projects-title-container {
    background-color: var(--title-color);
    border: 1px solid var(--projects-border-color);
    box-sizing: border-box;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 24px;
    border-top: none;
    text-align: left;
}

.projects-title {
    font-weight: bold;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.03em;
    margin-bottom: 4px;
}

.footer-social-title {
    font-weight: bold;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--title-color);
    margin-bottom: 20px;
    display: block;
}