        .typography-item {
            width: 370px;
        }
    
        .typography-item-thumb {
            display: flex;
            position: relative;
            background-color: var(--linear-gradient-color);
        }

        .typography-item-about {
            font-weight: bold;
            font-size: 14px;
            line-height: 1.14;
            letter-spacing: 0.03em;
            text-transform: uppercase;
            color: var(--title-color);
        }
